<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="" />
  </div>
  <div class="headings">
    <h2>Welcome stranger!</h2>
    <h3>Please signup for great recepies</h3>
  </div>
</header>

<%- include('partials/footer'); -%>
